<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find My Lunch</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Vendor</th>
                    <th>Food Type</th>
                    <th>Number of People</th>
                    <th>Meeting</th>
                    <th>Special Requests</th>
                </tr>
            </thead>
            <tr th:each="day : ${#lists.sort(days)}">
                <tr th:each="request, itrStat : ${#lists.sort(day.foodRequests)}">
                    <td th:if="${itrStat.index} == 0" th:rowspan="${itrStat.size}" th:width="170">
                        <div th:text="${day.dayOfMonth}" th:style="'width: 40px;font-size: 36px;line-height: 36px;float: left;text-align: right;margin-right: 10px;'"> </div>
                        <div th:text="${day.dayOfWeek}"></div>
                        <div th:text="${day.monthYear}" th:class="text-muted" th:style="'font-size: 0.75em;'"></div>
                    </td>
                    <td th:text="${request.time}" th:width="140"/>
                    <td th:text="${request.roomDisplay}"/>
                    <td th:text="${request.vendorName}"/>
                    <td th:text="${request.food}"/>
                    <td th:text="${request.numberOfPeople}"/>
                    <td th:text="${request.businessPurpose}"/>
                    <td th:text="${request.dietaryConcerns}"/>
                </tr>
            </tr>
        </table>
    </div>

</body>
</html>